<h1>Book#index</h1>
<div id="masonry-container">
<% @books.each do |book| %>
  <% size = ["small", "small", "medium", "large"].sample %>
  <div class="alignleft mas-box <%= size %>">
    <a href="<%= book.page_url %>">
      <% case size %>
      <% when "small" %>
        <img src="<%= book.medium_image %>" height="160px" />
      <% when "medium" %>
        <img src="<%= book.large_image %>" height="250px" />
      <% when "large" %>
        <img src="<%= book.large_image %>" height="375px" />
      <% end %>
    </a>
  </div>
<% end %>
</div>
